body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;  
}

header {
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 40px;
    position: relative;
}

.blogo {
    margin: 10px;
    height: 300px;
}

h1 {
background-color: #333;
position:relative;
left: 410px;
width: 520px;
padding-bottom: 10px;
margin: 0;
}

nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
nav ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    font-size: 150%;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 5px;

}

main {
    padding: 20px;
}

.article {
    width: 650px;
    height: 400px;
    box-sizing: border-box;
    background-color: lightcyan;
    color:midnightblue;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: midnightblue;
}

a {
    text-decoration: none;
}

.customer {
    float:right;
    border: 15px solid midnightblue;
    background-color: lightcyan;
    padding: 10px;
    margin: 50px;
}
.puppy {
    width: 500px;
}

.activity {
    position: relative;
    float: right;
    border: 15px solid midnightblue;
    background-color: lightcyan;
    padding: 8px;
    margin-left: 210px;
    margin-right: 55px;
}
.actives {
    width: 500px;
}

fieldset {
    border: 10px solid midnightblue;
    background-color: lightcyan;
    float: left;
    width: 800px;
    height: 600px;
}

input {
    padding: 10px;
    margin: 10px;
}
.bookinginfo {
    width: 500px;
    height: 400px;
    box-sizing: content-box;
    float: right;
    background-color: lightcyan;
    color:midnightblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.doglist {
    width: 1000px;
    height: 600px;
    box-sizing: content-box;
    background-color: lightcyan;
    color:midnightblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addone {
    background-color: white;
    color: black;
    border: 2px solid white;
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 420px;
}

.addone:hover {
    background-color: midnightblue;
    color: white;
}

.dog1 {
    width: 150px;
    height: 200px;
}

.dog2 {
    width: 150px;
    height: 200px;
}

.dog3 {
    width: 150px;
    height: 200px;
}
.firstdog {
    float: left;
    margin-left: 20px;
}

.seconddog {
    margin-left: 80px;
    float: left;
}

.thirddog {
    margin-left: 80px;
    float: left;
}
